<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/css/main.css">
    <script
        src="./static/js/main.js">
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="./static/js/jquery-ui.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.24/paper-full.min.js"><</script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$( document ).tooltip();
});
</script>
<style>
label {
display: inline-block;
width: 5em;
}
</style>
</head>
<body>
<canvas id="mainCanvas"></canvas>
<ul>
<li color="red" title="說明一">選單一</li>
<li title="說明二">選單二</li>
<li title="說明三">選單三</li>
<li title="說明四">選單四</li>
</ul>
</body>
</html>